<div class="s-avatar--container">
  <div class="s-avatar">
    <img 
    src="/static/img/profile.png" 
    srcset="/static/img/profile@2x.png 2x" 
    alt="A picture of me shooting a bow and arrow, aged 7" 
    class="profile-img" 
    loading="lazy" />      
  </div>      
</div>