<nav>  
  <ul>
    {# <li><a href="/" class="active">Home</a></li>
    <li><a href="/posts" class="{{ 'active' if '/post' in page.url }}">Posts</a></li>
    <li><a href="mailto:robhough@hey.com">Contact</a></li> #}
    <li>{% include "components/theme.njk" %}</li>
  </ul>  
</nav>