<aside>
  <h1>heymynameisrob.</h1>
  <p>product designer + leader</p>
  <ul>
    <li><a href="/">Projects</a></li>
    <li><a href="/">About</a></li>
    <li><a href="/">Contact</a></li>
  </ul>
</aside>