<div class="theme-toggle--wrap">
  <button class="sr-only" title="Toggles light & dark" aria-label="auto" aria-live="polite" data-theme-toggle>Toggle Theme</button>
  <div class="theme-toggle--button" data-theme-toggle>
    <div class="theme-toggle--icon"></div>    
  </div>
</div>
