<section class="block block-bio">
 <header class="block-bio--header">
    <div class="block-bio--header-title">
      {% include "components/avatar.njk" %}
      <div class="block-bio--header-label">
        <h2>@heymynameisrob</h2>
        <p>Nottingham, UK</p>
      </div>
    </div>      
  </header>
  <p>Hey my name is Rob and I'm a product designer from the UK 👋 </p>
  <p>Currently, I’m leading design at <a href="https://www.lantum.com" class="external" target="_blank" rel="noopener noreferrer">Lantum</a>, helping transform healthcare for organisations and clinicians.Previously I ran design at <a href="https://nuom.studio" class="external" target="_blank" rel="noopener noreferrer">nuom</a>, a boutique studio working in healthcare, pharma, and life sciences.</p>
  <p>I spend my time riding motorcycles across Europe, drinking real ale, and hiking in the countryside with my wife, Harriet</p>
  <a href="mailto:robhough@hey.com" class="btn btn-primary">Contact me</a>
</section>