<section class="block block-posts">  
  {% for post in collections.posts | reverse %}
  <a href="{{ post.url }}">
    <div class="block-posts--main">
      <div class="block-posts--meta">
        <time>{{ post.date | postDate }}</time>
        <span class="badge">{{ post.data.topic }}</span>
      </div>      
      <h2>{{ post.data.title }}</h2>
      <p>{{ post.data.description }}</p>
    </div>    
  </a>
  {% endfor %}
</section>