---
layout: layouts/home.njk
templateClass: home
---

<p><span class="t-special">Rob Hough 👋</span> - I’m a product designer and coder based in Britain. Right now, I’m Head of Design for <a href="https://www.lantum.com">Lantum</a>, designing experiences for healthcare clinicians and managers. Previously I ran design at <a href="https://nuom.studio">nuom</a>, a boutique studio working in healthcare, Pharma, and life science.</p>

<p>I also like to ride motorcycles in the countryside, go hiking, and hang out in the city of Nottingham with my wife, Harriet</p>