---
layout: layouts/home.njk
templateClass: home
---
<section class="s-profile">
  <img 
  src="/static/img/profile.png" 
  srcset="/static/img/profile@2x.png 2x" 
  alt="A picture of me shooting a bow and arrow, aged 7" 
  class="profile-img" 
  loading="lazy" />
  <h1>Hey my name is Rob and I'm lead product design at Lantum</h1>    
  <a href="/about">Learn more</a>
</section>
{# <section>
  <h2>About</h2>
  <p>Designing for 10 years, I'm passionate about working with early-stage companies, partiularly on 0-1 projects. Good design can help bring them closer to their customers, accelerate growth, and ship quality products. Right now, I'm working at Lantum. A healthcare startup helping clinicians and their managers work better, together.</p>  
</section> #}
<section>  
  {% set projectList = collections.projects %}
  {% include "projects.njk" %}  
</section>
<section>
  <h2>Elsewhere</h2>
  <ul class="list s-contact">    
    <li>
      <span>Email</span>
      <a href="mailto:robhough@hey.com">robhough@hey.com</a>
    </li>    
  </ul>
</section>