<div class="s-projects">
  {% for project in projectList | reverse %}
  <article>
    <div class="s-project--content">
      <time>{{project.date | readableDate}}</time>
      <h2>{{ project.data.title }}</h2>
      <p>{{ project.data.description }}</p>
    </div>
    <a href="{{ project.url }}" class="btn btn-outline">Read more</a>
  </article>
  <article>
    <div class="s-project--content">
      <time>{{project.date | readableDate}}</time>
      <h2>{{ project.data.title }}</h2>
      <p>{{ project.data.description }}</p>
    </div>
    <a href="{{ project.url }}" class="btn btn-outline">Read more</a>
  </article>
  {% endfor %}
</div>