<!doctype html>
<html lang="en">
  <head>
    {% include 'head.njk' %}
  </head>
  <body>  
    {% include 'theme.njk' %}
    <div class="bg-fade"></div>
    {{ content | safe }}     

    <!-- capture the JS content as a Nunjucks variable -->
    {% set js %}
      {% include "main.js" %}
    {% endset %}
    <!-- feed it through our jsmin filter to minify -->
    <script>
      {{ js | jsmin | safe }}
    </script>
              
  </body>
</html>


