<!doctype html>
<html lang="en">
  <head>
    {% include 'head.njk' %}
  </head>
  <body data-scroll-root>  
    {% include "bg.njk" %}
    {% include 'theme.njk' %}
    
    {% if '/post' in page.url %}
      <nav>
          <a href="/">
            {% include 'avatar.njk' %}
          </a>
      </nav>
    {% endif %}

    {{ content | safe }}     

    <script src="/main.js"></script>
              
  </body>
</html>


