<!doctype html>
<html lang="en">
  <head>
    {% include 'head.njk' %}
  </head>
  <body>  
    {% include 'theme.njk' %}
    <div class="bg-fade"></div>
    {{ content | safe }}     

    <script src="/main.js"></script>
              
  </body>
</html>


