---
layout: layouts/base.njk
templateClass: posts
eleventyExcludeFromCollections: true
---
<header>
  <h1 class="t-special">Latest writing</h1>  
</header>
<section>
{% include "components/posts.njk" %}
</section>