---
layout: layouts/home.njk
templateClass: home
---

{% include "components/bio.njk" %}
{% include "components/now-playing.njk" %}
{% include "components/image-slider.njk" %}
{# {% include "components/map.njk" %}
{% include "components/posts.njk" %} #}