:root {
	--margin-y:1.5rem;	
	--margin-x:1.5rem;
		
	--font-primary: 'Manrope', sans-serif;
	--font-special: 'Basteleur', serif;

	--text-primary: var(--grey-900);
	--text-secondary: var(--grey-600);
	--text-tertiary: var(--grey-300);
	--line-height: 1.7;

	--bg-color:#fff;
	
	--spotify-green: rgb(29, 185, 84);
	--border: #F2F1ED;
	--primary:#FF4646;
	--primary-light:#ffc4c4;
	--primary-gradient: linear-gradient(135deg, #FF4646 0%, #FF4647 11.79%, #FF444C 21.38%, #FE4252 29.12%, #FD405B 35.34%, #FC3C66 40.37%, #FB3972 44.56%, #FA3480 48.24%, #F9308E 51.76%, #F82B9D 55.44%, #F727AD 59.63%, #F522BC 64.66%, #F41DCC 70.88%, #F319DA 78.62%, #F214E9 88.21%, #F110F5 100%); 

	--grey-0:hsl(56, 4.0%, 99%);
	--grey-50:hsl(56, 4.0%, 92.8%);
	--grey-100:hsl(50, 4.0%, 78.8%);
	--grey-200:hsl(52, 3.1%, 61.3%);
	--grey-300:hsl(50, 4.0%, 48.6%);
	--grey-400:hsl(56, 3.7%, 23.6%);
	--grey-500:hsl(57, 3.6%, 19.9%);
	--grey-600:hsl(58, 3.7%, 17.4%);
	--grey-700:hsl(59, 3.7%, 15.3%);
	--grey-800:hsl(60, 3.7%, 13.1%);
	--grey-900:hsl(61, 2.0%, 10.6%);	

	--theme-toggle-color:#FA9851;

	--animation-delay: 0.25s;
	--animation-ease: cubic-bezier(0.075, 0.82, 0.165, 1);
	--random-delay: 435ms;
	--avatar-size-sm: 3.5rem;
	--box-shadow--lg: 0px 9px 5px rgba(0, 0, 0, 0.01), 0px 4px 4px rgba(0, 0, 0, 0.02), 0px 1px 2px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);

}
:root[data-theme="dark"] {	
	--grey-900:hsl(56, 4.0%, 99%);
	--grey-800:hsl(56, 4.0%, 92.8%);
	--grey-700:hsl(56, 4.0%, 88.2%);
	--grey-600:hsl(50, 4.0%, 78.8%);
	--grey-500:hsl(50, 4.0%, 61.8%);
	--grey-400:hsl(52, 3.1%, 48.3%);
	--grey-300:hsl(50, 4.0%, 42.7%);
	--grey-200:hsl(56, 3.7%, 17.4%);
	--grey-100:hsl(57, 3.6%, 15.3%);
	--grey-50:hsl(58, 3.7%, 13.1%);	
	--grey-0:hsl(60, 3.7%, 10.6%);	

	--theme-toggle-color: #a0a5ff;
	
	--bg-color: var(--grey-0);
	--border: var(--grey-200);
	--bg-color-fade: rgba(25,21,35,0.5);

	--bg-img: url('/static/img/Gradient-dark.png');	
	--text-primary: rgba(238,238,238,1);
	--text-secondary: rgba(238,238,238,0.7);
	--text-tertiary: rgba(238,238,238,0.5);
}

@media(min-width:48rem) {
	:root {
		--margin-y:2rem;
		--margin-x:2rem;
	}
}

@font-face {
	font-family: 'Basteleur';
	src: url('/static/fonts/Basteleur-Moonlight.woff2') format('woff2'),
			url('/static/fonts/Basteleur-Moonlight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}



/* Global Styles */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* ,
*::after,
*::before {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, p {
	display: block;
	margin:0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width:100%;
	height:auto;
	border-radius:1rem;
}

body {
	display:block;
	min-height:100vh;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
	color:var(--text-primary);
	font-family:var(--font-primary);
	font-size:1.125rem;
	font-weight:300;
	line-height: var(--line-height);
	background-color:var(--bg-color);
	border:12px solid var(--border);
}


h1,h2,h3,h4 {
	font-weight: 600;
	line-height:1.5;
	letter-spacing: -0.02em;	
	color:var(--text-primary);
}

h1 {	font-size:2rem;			}
h2 {	font-size:1.25rem;				}
h3 {	font-size:1.125rem;			}

p.large {
	font-size:1.25rem;
}

p {	
	letter-spacing: 0;
	color:var(--text-secondary);
	letter-spacing: -0.01em;
}

* + p {
	margin-top: 1.5rem;
}

strong {
	font-weight: 600;	
}

a {	
	display:inline-block;
	justify-items: center;
	color:var(--text-primary);		
	text-decoration: underline;
}

a.external::after {
	content: '';
	background-image: url('/static/img/external-link.svg');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 0.5rem;
	padding-right:0.75rem;
	filter:invert(1);
}
[data-theme="dark"] a[href^="https:"]::after {
	filter:invert(0);
}

.t-special {
	font-family:var(--font-special);	
	font-weight:normal;
}

.space-y > * + * {
	margin-top:1rem;
}
.space-y.space-y--lg > * + * {
	margin-top:var(--margin-y);
}

/* Site layout */
main {
	position: relative;
	display:block;
	max-width:65ch;		
	width:100%;
	height:100%;
	margin:0 auto;
	padding:var(--margin-y) var(--margin-x) 0 var(--margin-x);	
}
@media(min-width:75rem) {
	main {
		padding:calc(var(--margin-y) * 2) var(--margin-x) 0 var(--margin-x);	
	}
}
section {
	padding-top:var(--margin-y);
}

nav {
	display:flex;
	justify-content: space-between;
	align-items:center;
	padding:var(--margin-y) var(--margin-x);	
	max-width:78rem;
	margin:0 auto;
}

nav ul {
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;	
	gap:0.5rem;
	padding-top:1rem;
}
@media(min-width:48rem) {
	nav ul {
		display:flex;
		justify-content:center;
		padding-top:0;
	}
}
nav ul li a {
	display:inline-flex;	
	padding:0.25rem 0.5rem;
	border-radius:0.5rem;
	font-weight:600;
	border: 1px solid transparent;
	background-color:transparent;
	text-decoration: none;
	border-radius:0.5rem;
	box-shadow: 0px 1px 2px 0px hsla(0, 0%, 100%, 0) inset;
}

nav ul li a:hover {
	background-color:var(--grey-50);
	border-color:var(--grey-100);
	box-shadow: 0px 1px 0px 0px hsla(0, 0%, 100%, 0.1) inset, 0px 1px 3px 0px hsla(0, 0%, 10%, 0.06);
}
nav ul li a.active {
	background-color:var(--grey-50);
	border-color:var(--grey-100);
	font-weight:600;
	box-shadow: 0px 1px 0px 0px hsla(0, 0%, 100%, 0.1) inset, 0px 1px 3px 0px hsla(0, 0%, 10%, 0.06);
}
[data-theme="dark"] nav ul li a.active {
	background-color:var(--grey-100);
	border-color:var(--grey-200);
	font-weight:600;
	box-shadow: 0px 1px 0px 0px hsla(0, 0%, 100%, 0.1) inset, 0px 1px 3px 0px hsla(0, 0%, 10%, 0.06);
}

/* Components */
.btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.875rem 1.5rem;
	border-radius:2rem;
	gap: 0.5rem;
	border:1px solid transparent;
	background-color:transparent;
	color:var(--gray-0);
	letter-spacing: 0;
	line-height: 1;
	font-weight:600;
	font-size:1.125rem;
	text-decoration: none;
	background-color: var(--grey-50);
	border-color:var(--grey-200);
	border-width:2px;	
	transition-delay:0;
}
@media(min-width:48rem) {
	.btn {
		display: inline-flex;
	}
}
.btn:hover {
	background-color:var(--grey-50);
}
.btn-small {
	padding: 0.5rem 1rem;
	font-size:1rem;	
}

.btn-icon {
	display:grid;
	place-items:center;
	width:2.5rem;
	height:2.5rem;
	border:1px solid transparent;
	background-color:transparent;
	border-radius:0.5rem;
	box-shadow: 0px 1px 0px 0px hsla(0, 0%, 100%, 0) inset, 0px 1px 3px 0px hsla(0, 0%, 10%, 0);
	will-change:box-shadow, background-color, border-color;
	transition:box-shadow, background-color, border-color 0.15s ease;
}
.btn-icon:hover {
	background-color:var(--grey-50);
	border-color:var(--grey-100);
	box-shadow: 0px 1px 0px 0px hsla(0, 0%, 100%, 0.1) inset, 0px 1px 3px 0px hsla(0, 0%, 10%, 0.06);
	transition:box-shadow, background-color, border-color 0.15s ease;
}
[data-theme="dark"] .btn-icon:hover {
	background-color:var(--grey-100);
	border-color:var(--grey-200);
	font-weight:600;
	box-shadow: 0px 1px 0px 0px hsla(0, 0%, 100%, 0.1) inset, 0px 1px 3px 0px hsla(0, 0%, 10%, 0.06);
}

.s-avatar--container {
	display:flex;
	justify-content:center;
	align-items:center;
}
.s-avatar {
	position:relative;
	display:inline-flex;
	padding:2px;	
	border: 0px solid var(--spotify-green);	
	border-radius:50%;
}

.s-avatar img {
	width:var(--avatar-size-sm);
	height:var(--avatar-size-sm);
	border-radius:50%;
	box-shadow:var(--box-shadow--lg);
}

.s-avatar--lg {
	margin-bottom:var(--margin-y);
}
.s-avatar--lg img {
	width:6rem;
	height:6rem;
}
.is-playing {	
	border: 2px solid var(--spotify-green);	
	transform: scale(1);
  animation: pulse 2s infinite;
	animation-delay: var(--animation-delay);
	transition: all .2s ease-in-out;
}

.badge {
	display:inline-flex;
	justify-content:center;
	align-items:center;
	padding:0.25rem 0.5rem;
	border-radius:1rem;
	font-size:0.875rem;
	font-weight:600;
	color:var(--gray-0);
	background-color:var(--grey-50);	
}

/* Theme Toggle */
.theme-toggle--wrap {	
	justify-content: flex-end;
	align-items: center;
	display:none;
}
@media (min-width: 48rem) {
	.theme-toggle--wrap {
		display:flex;
	}
}

/* Stolen from https://codepen.io/maysi/pen/mPKmVB */
.theme-toggle--button {
	display:grid;
	place-items: center;
	width:2.5rem;
	height:2.5rem;				
	border-radius: 0.5rem;	
	will-change:box-shadow, transform, opacity;		
	cursor: pointer;	
	transform:translate3d(0, 0, 0);
	opacity:1;	
	transition: all 0.3s var(--animation-ease);
}
.theme-toggle--button:hover {	
	background-color:var(--grey-50);	
	transition: all 500ms ease;
}

.theme-toggle--icon {
	--ray-size: calc(var(--size) * -0.4);
  --offset-orthogonal: calc(var(--size) * 0.65);
  --offset-diagonal: calc(var(--size) * 0.45);
	--size: 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
	border-radius: 999px;
	transition: all 500ms;
	transform: scale(0.75);
  color: var(--theme-toggle-color);
  box-shadow: inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}
@media (min-width:48rem) {
	.theme-toggle--icon {
		--size: 1.25rem;
	}
}
[data-theme="dark"] .theme-toggle--icon {
	box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  color: var(--theme-toggle-color);	
}

/* Now Playing */
.s-now-playing {
	position:absolute;
	top:0;
	left:3.5rem;
	display:flex;
	align-items: flex-start;
	flex-flow:column nowrap;
	gap:0.5rem;
	width:130px;
	border-radius:0.5rem;
	background-color:rgba(0,0,0,0.8);	
	padding:0.75rem;	
	font-size:0.5rem;		
	cursor:pointer;
	pointer-events: none;
	opacity:0;
	transform:translate3d(-.5rem,0,0);
	transition: all 500ms var(--animation-ease);
}

.is-playing:hover .s-now-playing {
	display:flex;
	pointer-events: all;
	opacity:1;
	transform:translate3d(0,0,0);
	transition: all 500ms var(--animation-ease);
}

.s-now-playing .np-info {	
	width:100%;
	overflow: hidden;
	white-space: nowrap;
}
.s-now-playing .np-info a {
	font-size: 0.75rem;
	font-weight:500;
	color:var(--bg-color);
	text-decoration: none;
}

.np-icon--wrap {
	display:grid;
	place-items: center;
}
.np-icon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 12px;
	height: 12px;
}
.np-icon span {
	width: 3px;
	height: 100%;
	background-color: var(--spotify-green);	
	animation: nowPlayingAnimation 2.2s ease infinite alternate;
	transform-origin: bottom;
}
.np-icon span:nth-child(2) {
	animation-delay: -2.2s;
}
.np-icon span:nth-child(3) {
	animation-delay: -3.7s;
}

/* Block: Bio */

.block-np {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width:100%;
	height:100%;
}
@media(min-width:48rem) {
	.block-np {
		margin-bottom:0;
	}
}
.block--np.is-playing {
	border:2px solid var(--spotify-green);
}
.block-np--body {
	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-flow:row nowrap;
	width:100%;
}
.block-np--body p {
	font-size:1rem;
	max-width:100%;
	overflow:hidden;
	text-overflow: ellipsis;	
	white-space: nowrap;
}
.block-np--body p a {
	font-weight:bold;
	text-decoration: none;
	max-width:100%;
	text-overflow: ellipsis;
}
.block-np--body p a:hover {
	text-decoration: underline;
}


/* Block: Slider */
.block-slider {
	position:relative;
	overflow:hidden;
	min-height:260px;
}
.block-slider .block-slider--slides {
	position:absolute;
	top:0;
	left:0;	
	width:100%;
	height:100%;	
	object-fit: cover;
	object-position: center center;
}

.block-slider .block-slider--slides img.is-active {
	opacity:1;
}
.block-slider .block-slider--slides img  {
	position: absolute;
	top:0;
	left:0;		
	opacity:0;
	transition: all 500ms var(--animation-ease);
	object-fit: fill;
	object-position: center center;
}
.block-slider--nav {
	position:absolute;
	top:50%;
	left:0;
	right:0;
	display:flex;
	justify-content: space-between;
	align-items: center;
	transform:translateY(-50%);
}
.block-slider--nav a {
	padding:.5rem;	
}

.block-slider--dots {
	position:absolute;
	bottom:0;
	left:0;
	width: 100%;
	padding:1rem;
	display:flex;
	justify-content: center;
	align-items: center;
	gap:0.5rem;
}
.block-slider--dots span {
	display:inline-block;
	width:0.5rem;
	height:0.5rem;
	border-radius:50%;
	background-color:var(--grey-200);
	opacity:0.5;
	transition: all 500ms var(--animation-ease);	
}
.block-slider--dots span.is-active {
	opacity:1;
	transition: all 500ms var(--animation-ease);
}


/* Block: Posts */
.block-posts a {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding:1.5rem;
	border: 2px solid var(--border);	
	border-radius:.5rem;
	text-decoration: none;
	margin-bottom:1.5rem;
}
.block-posts a:hover {
	background-color: var(--grey-0);
}
.block-posts h2 {	
	font-weight:bold;	
	margin:1rem 0;
}
.block-posts p {
	display:block;
	font-size:1rem;
	color:var(--text-secondary);	
	margin:0;
}
.block-posts time {
	font-weight:600;
	font-size:0.875rem;
	color:var(--text-secondary);	
}
.block-posts--meta {
	display:flex;
	justify-content: flex-start;
	align-items: center;
	gap:1rem;
}

/* Template: Home */
.masonry {
	display: flex;
	flex-flow:column nowrap;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 2.5rem;
	grid-row-gap: 2.5rem;
	padding-bottom:2.5rem;
}
@media(min-width:48rem) {
	.masonry {
		display:grid;
	}
}

.masonry section:nth-child(1) { grid-area: 1 / 1 / 3 / 6; order:-1; }
.masonry section:nth-child(2) { grid-area: 1 / 6 / 2 / 9; order: 1; }
.masonry section:nth-child(3) { grid-area: 2 / 6 / 3 / 9; order: 1; }
.masonry section:nth-child(4) { grid-area: 3 / 1 / 5 / 4; order: 1; }
.masonry section:nth-child(5) { grid-area: 3 / 4 / 5 / 9; order: 0; }


main.page-home > p {	
	line-height:1.7;
}
@media (min-width:48rem) {
	main.page-home > p {
		font-size:1.25rem;
	}
}

main.page-home p + a, 
main.page-home h2 + p {
	margin-top:1rem;
}

/* Template: Post */
.post-header {
	display:flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap:1rem;
	flex-direction: column;	
}
.post-header h1 {
	font-size:2rem;
}
.post-header h2 {
	color:var(--text-tertiary);
	font-weight:normal;
}
.post-actions {
	display:flex;
	width:100%;
	justify-content: space-between;
	align-items: center;
	padding:1rem 0;
	border-top:2px solid var(--border);
	border-bottom:2px solid var(--border);
	margin: var(--margin-y) 0;
}
@media(min-width:48rem) {
	.post-actions {
		margin: calc(var(--margin-y) * 1.5) 0;
	}
}
.post-meta {
	display:flex;	
	justify-content: flex-start;
	align-items: center;
	gap:1rem;
}
.post-meta time {
	font-size:0.875rem;
	font-weight:600;
}
.post-share {
	display:flex;
	justify-content: flex-end;
	align-items: center;	
	color:var(--text-primary);
}
.post-share--link {
	display:grid;
	place-items:center;
	width:2.5rem;
	height:2.5rem;
	border-radius:0.5rem;
	background-color:var(--bg-color);
}
.post-share--link:hover {
	background-color:var(--grey-50);
}

.template-post section:first-of-type {
	padding:0;
}

/* Rich Text */
.rich-text {
	padding-bottom:var(--margin-y);
}
.rich-text h2,
.rich-text h3 {
	page-break-after: avoid;
}

.rich-text blockquote {
  border-left: 8px solid var(--border);
  padding: 1rem;
	page-break-inside: avoid;
}

/* .rich-text pre,
.rich-text code {
  background-color: var(--grey-50);
	font-family: Menlo, Monaco, "Courier New", monospace;
	padding: .5rem;
  line-height: 1.25;  
	page-break-inside: avoid;
	border-radius:0.5rem;	
} */

.rich-text img,
.rich-text canvas,
.rich-text iframe,
.rich-text video,
.rich-text select,
.rich-text textarea {
	display:block;
	height:auto;
  width: 100%;
}

.rich-text ul,
.rich-text ol {
	padding-left: 1.5rem;
}
.rich-text li {
	list-style-type: disc;
}

/* Code Highlight Dark Mode (dracula.css) */
[data-theme="dark"] .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: var(--gray-50);
}

[data-theme="dark"] .hljs-built_in,
[data-theme="dark"] .hljs-selector-tag,
[data-theme="dark"] .hljs-section,
[data-theme="dark"] .hljs-link {
  color: #8be9fd;
}

[data-theme="dark"] .hljs-keyword {
  color: #ff79c6;
}

[data-theme="dark"] .hljs,
[data-theme="dark"] .hljs-subst {
  color: #f8f8f2;
}

[data-theme="dark"] .hljs-title,
[data-theme="dark"] .hljs-attr,
[data-theme="dark"] .hljs-meta-keyword {
  font-style: italic;
  color: #50fa7b;
}

[data-theme="dark"] .hljs-string,
[data-theme="dark"] .hljs-meta,
[data-theme="dark"] .hljs-name,
[data-theme="dark"] .hljs-type,
[data-theme="dark"] .hljs-symbol,
[data-theme="dark"] .hljs-bullet,
[data-theme="dark"] .hljs-addition,
[data-theme="dark"] .hljs-variable,
[data-theme="dark"] .hljs-template-tag,
[data-theme="dark"] .hljs-template-variable {
  color: #f1fa8c;
}

[data-theme="dark"] .hljs-comment,
[data-theme="dark"] .hljs-quote,
[data-theme="dark"] .hljs-deletion {
  color: #6272a4;
}

[data-theme="dark"] .hljs-keyword,
[data-theme="dark"] .hljs-selector-tag,
[data-theme="dark"] .hljs-literal,
[data-theme="dark"] .hljs-title,
[data-theme="dark"] .hljs-section,
[data-theme="dark"] .hljs-doctag,
[data-theme="dark"] .hljs-type,
[data-theme="dark"] .hljs-name,
[data-theme="dark"] .hljs-strong {
  font-weight: bold;
}

[data-theme="dark"] .hljs-literal,
[data-theme="dark"] .hljs-number {
  color: #bd93f9;
}

[data-theme="dark"] .hljs-emphasis {
  font-style: italic;
}

/* Helpers */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/* Motion */
@media screen and
  (prefers-reduced-motion: reduce), 
  (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important; /* Hat tip Nick/cssremedy (https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/#comment-1700170) */
    transition-duration: 0.001ms !important;
  }
}

/* main.page-home .s-profile,
main.page-home p {
	animation: homeFadeIn 1s ease-in;
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}
main.page-home p:first-of-type {
	animation-delay: calc(var(--animation-delay) + 0.25s);
}

main.page-home p:last-of-type {
	animation-delay: calc(var(--animation-delay) + 0.5s);
} */


@keyframes pulse {
  0% {    
    box-shadow: 0 0 0 0 rgba(29, 185, 84, 0.7);
  }
  
  70% {    
    box-shadow: 0 0 0 10px rgba(29, 185, 84, 0);
  }
  
  100% {
    /* transform: scale(0.95); */
    box-shadow: 0 0 0 0 rgba(29, 185, 84, 0);
  }
}

@keyframes homeFadeIn {
	from {
		opacity:0;
		transform:translate3d(0,1rem,0);
	}
	to {
		opacity:1;
		transform:translate3d(0,0,0);
	}
}
@keyframes songFadeIn {
	from {
		opacity:0;
		transform:translate3d(-0.5rem,0,0);
	}
	to {
		opacity:1;
		transform:translate3d(0,0,0);
	}
}

@keyframes nowPlayingAnimation {
	10% {
    transform: scaleY(0.3);
  }
  30% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(0.5);
  }
  80% {
    transform: scaleY(0.75);
  }
  100% {
    transform: scaleY(0.5);
  }
}

.spaz-out span {
	animation: fontCycle 1s linear infinite alternate;
	transform:translate3d(0,0,0);
	animation-direction: alternate;
	will-change: font-family;
}
.spaz-out span:nth-child(odd){	
	animation-delay: var(--random-delay);
}
.spaz-out span:nth-child(even){	
	animation-delay: calc(var(--random-delay) + 0.25s);
}

@keyframes fontCycle {
	0% {
		font-family:var(--font-primary);
	}
	50% {
		font-family:var(--font-special);
	}
	100% {
		font-family:var(--font-primary);
	}
}



