<!doctype html>
<html lang="en">
  <head>
    {% include 'head.njk' %}
  </head>
  <body>  
    {% include 'theme.njk' %}
    <div class="bg-fade"></div>
    {{ content | safe }}        
    <div class="bg-noise"></div>    
    <script src="{{ '/static/main.js' | url }}" async></script>   
  </body>
</html>


