---
layout: layouts/base.njk
templateClass: page
---

<div class="l-outer l-page">  
  <main>
    <header class="space-y">
      <a href="/" class="btn btn-back">← Back</a>
      <h1>{{title}}</h1>
      <p>{{description}}</p>
      <p>{{company}} • {{date | readableDate}}</p>
    </header>
    {{ content | safe }}
  </main>  
  <footer>
    <div class="l-container">
      <small>&copy; 2023. Built by Rob </small>
      <a href="/privacy-policy">Privacy Policy</a>
    </div>
  </footer>    
</div>  