---
layout: layouts/base.njk
templateClass: page
---

<div class="l-outer l-page">  
  <main>   
    <header class="space-y">      
      <a href="/" class="btn btn-back">← Back</a>
      <h1>{{title}}</h1>      
      <p>{{date | readableDate}}</p>
    </header>
    <img src="/static/img/{{company}}-feature@2x.png" srcset="/static/img/{{company}}-feature@2x.png 2x" alt="{{title}}" loading="lazy" class="full-img" />
    {{ content | safe }}
  </main>  
  <footer>
    <div class="l-container">
      <small>&copy; 2023. Built by Rob </small>
      <a href="/privacy-policy">Privacy Policy</a>
    </div>
  </footer>    
</div>  